.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxMoal {
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(223, 231, 235);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.boxModalContainer {
  padding: 25px 100px;
  flex-direction: column;
  display: flex;
}

.boxTitle {
  align-self: center;
  font-size: 36px;
}

.closeIcon {
  align-self: end;
  font-size: 36px;
}

.datalistContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 15px;
}

.datalistBox {
  height: 30px;
  width: 300px;
  font-size: medium;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.datalistButton {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
