.sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100vh;
  font-size: 20px;
  padding: 1em;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9;
}

.sidebar a {
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  color: inherit;
  border-radius: 10px;
  margin: 10px;
}

.sidebar a:hover {
  background-color: rgb(238, 234, 234);
}

.sidebar a.active {
  background-color: #007bff;
  color: #fff;
}

.sidebarIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.outletContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 190px;
  height: calc(100vh - 60px);
  width: calc(100vw - 210px);
  z-index: 0;
}
